h1 {
    font-family: 'Oswald', sans-serif;
}
h2 {
    font-family: 'Oswald', sans-serif;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color: black;
}
img {
    float: left;
    margin-right: 10px;
}


li {
    display: inline;
}

nav {
    margin-left: 50px;
    margin-right: 50px;
    word-spacing: 150px;
}