h1 {
    font-family: 'Oswald', sans-serif;
}
h2 {
    font-family: 'Oswald', sans-serif;
}
body {
    font-family: 'Open Sans', sans-serif;
    color: darkblue;
    margin: 10px 50px 10px 50px;
    width: 950px;
    background-color: ivory;
}
img {
    float: left;
    margin-right: 10px;
}
.left {
    float: left;
    width: 300px;
}
.right {
    float: right;
    width: 300px;
}
.center {
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 35px;
}

li {
    display: inline;
}

nav {
    margin-left: 50px;
    margin-right: 50px;
    word-spacing: 150px;
}